
.icon-header-r{
  font-size: 20px;
}
.color-label{
  font-size: 20px;
  color: white;
}
.title-1{
  border-right: 2px solid rgb(133, 127, 127);
  padding-right: 10px;
}
.small-title{
  font-size: 13px;
}
.header{
  color: white;
  font-size: 40px;
}
.sticky{
  background-color: #0a5f7a;
  padding: 0 50px;
}

.fa-bell-o{
  color: #ffffff;
}

.icon-header{
  max-height: 38px;
}

.avatar2{
  width: 2rem;
    height: 2rem;
}
