<div class="popup-container">
  <div class="content container h-50 w-300 p-0">
    <div class="d-flex justify-content-center popup-title pl-0 mb-3">
      {{ title }}
    </div>
    <div class="px-2 pb-2">
      <div class="w-100">
        <div class="d-flex align-items-center justify-content-between">
          <p class="mb-0 d-flex justify-content-center font-weight-bold">Mật khẩu mới cho tài khoản {{userName}}:</p>
            <button nz-button nzType="primary" type="submit" class="d-flex align-items-center justify-content-center ml-1 btn-copy" (click)="copyText(newPassword)">
              {{newPassword}}
            </button>
        </div>
      </div>
      <div class="row d-flex justify-content-md-center pt-3">
        <button nz-button type="submit" nzType="primary" class="text-uppercase  mr-1" (click)="copyText(newPassword)">
          Sao chép
        </button>
        <button nz-button type="button" nzType="default" class="text-uppercase ml-1" (click)="closeNo()">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>
