[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
.orient-transform-1 {
  transform: rotate(0deg);
}

.orient-transform-2 {
  transform: rotateY(180deg);
}

.orient-transform-3 {
  transform: rotate(180deg);
}

.orient-transform-4 {
  transform: rotate(180deg) rotateY(180deg);
}

.orient-transform-5 {
  transform: rotate(270deg) rotateY(180deg);
}

.orient-transform-6 {
  transform: rotate(90deg);
}

.orient-transform-7 {
  transform: rotate(90deg) rotateY(180deg);
}

.orient-transform-8 {
  transform: rotate(270deg);
}

$primary-color: #3597b6;
:host ::ng-deep {
  nz-table {
    .ant-spin-nested-loading {
      position: relative;
      z-index: inherit;
    }
    table {
      table-layout: fixed;
    }
  }
  .auth-loading {
    .ant-spin {
      color: white;
    }
    .ant-spin-dot-item {
      background-color: white;
    }
  }

  .ant-spin-spinning {
    max-height: unset !important;
  }
  .ant-input {
    border: 1px solid #d9d9d9;
    background-color: #F7FBFD;
  }
  .ant-input[disabled] {
    color: #4e4e4e !important;
    background-color: #e6e6e6;
    cursor: not-allowed;
    opacity: 1;
  }
  // Table
  .ant-table-wrapper {
    min-width: 100%;
  }
  .ant-table-thead th {
    background-color: $primary-color;
    color: #ffffff;
    border: 1px solid #eaeaea;
  }
  .ant-pagination-item-active a {
    background-color: $primary-color;
    color: #ffffff;
  }
  .ant-pagination-options {
    position: absolute;
    left: -1rem;
  }
  .ant-input-group-wrapper {
    min-width: 15rem;
  }
  .ant-table-tbody tr td {
    border-bottom: 1px solid #eaeaea;
  }
  .ant-table-tbody tr td {
    border-right: 1px solid #eaeaea;
  }
  .ant-switch-small {
    min-width: 27px;
    height: 18px;
    line-height: 14px;
  }
  // Page
  nz-pagination {
    .anticon {
      vertical-align: 0.2em;
    } 
  }
}
.ant-table-body {
  overflow-x: auto;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(57, 57, 57, 0.1);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(156, 156, 156, 0.6);
  }
}

@media only screen and (max-width: 1024px) {
  .ant-modal {
    top: 50px;
  }
}
