<div class="popup-container">
  <div class="content container h-50 w-300">
      <div class="row popup-title">
          {{ dataFarmingLocation.id ? 'chỉnh sửa' : 'tạo mới'}} ao nuôi
      </div>
      <div class="nz-row" nzType="flex" nzJustify="center" nzAlign="center">
          <div class="nz-col" nzSpan="12" *ngIf="locationForm">
              <form class="popup-form" [formGroup]="locationForm">
                  <div class="mb-3 d-flex">
                      <div class="w-50 d-flex px-2">
                          <div class="field-name">
                              <p class="mb-0">Mã:</p>
                          </div>
                          <div class="field-value">
                              <input disabled nz-input
                                  formControlName="code" />
                          </div>
                      </div>
                      <div class="w-50 d-flex px-2">
                          <div class="field-name">
                              <p class="mb-0 required ">Loại ao nuôi:</p>
                          </div>
                          <div class="field-value">
                              <nz-select formControlName="locationType" [compareWith]="compareData" name="locationType"
                              [class.is-invalid]="formErrors?.locationType" nzShowSearch nzAllowClear nzPlaceHolder="-Tất cả (All)-">
                                  <nz-option *ngFor="let item of farminglocationTypeData" [nzLabel]="item.value"
                                      [nzValue]="item">
                                  </nz-option>
                              </nz-select>
                              <div class="invalid-feedback">
                                  {{ formErrors?.locationType }}
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="d-flex mb-3">
                      <div class="w-50 d-flex px-2">
                          <div class="field-name">
                              <p class="mb-0 required ">Tên ao nuôi:</p>
                          </div>
                          <div class="field-value">
                              <input placeholder="Nhập tên ao nuôi" nz-input [class.is-invalid]="formErrors?.name"
                                  formControlName="name" />
                              <div class="invalid-feedback">
                                  {{ formErrors?.name }}
                              </div>
                          </div>
                      </div>
                      <div class="w-50 d-flex px-2">
                          <div class="field-name">
                              <p class="mb-0 required ">Khu vực:</p>
                          </div>
                          <div class="field-value">
                              <nz-select formControlName="area" [compareWith]="compareDataArea"
                                  [class.is-invalid]="formErrors?.area" name="area" nzShowSearch
                                  nzAllowClear nzPlaceHolder="-Tất cả (All)-">
                                  <nz-option *ngFor="let item of areaData" [nzLabel]="item.name" [nzValue]="item">
                                  </nz-option>
                              </nz-select>

                              <div class="invalid-feedback">
                                  {{ formErrors?.area }}
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="d-flex mb-3">
                      <div class="w-50 d-flex px-2">
                          <div class="field-name">
                              <p class="mb-0">Diện tích (m<span class="superscript">&#178;</span>):</p>
                          </div>
                          <div class="field-value">
                              <input placeholder="Nhập diện tích" class="text-right" nz-input appInputNumber
                                  formControlName="landArea" />
                          </div>
                      </div>
                      <div class="w-50 d-flex px-2">
                          <div class="field-name">
                              <p class="mb-0">Tài liệu đính kèm:</p>
                          </div>
                          <div class="field-value">
                              <input placeholder="Nhập link tài liệu đính kèm"  nz-input
                                  formControlName="attachment" />
                          </div>
                      </div>
                  </div>

                  <div class="mb-3">
                      <div class="w-100 d-flex px-2">
                          <div class="field-name">
                              <p class="mb-0">Mô tả:</p>
                          </div>
                          <div class="field-value">
                              <textarea placeholder="Nhập mô tả" class="outline-none w-100 p-2" formControlName="description" name="" id=""
                                  cols="10" rows="3"></textarea>
                          </div>
                      </div>
                  </div>

                  <div class="row d-flex justify-content-md-center pt-3">
                      <button nz-button type="submit" nzType="primary" class="text-uppercase  mr-1" (click)="onSubmit()">
                          Lưu
                      </button>
                      <button nz-button type="button" nzType="default" class="text-uppercase ml-1" (click)="close()">
                          Hủy
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
