<div class="bg-content w-100 p-2">
  <div class="row mx-0 align-items">
    <div class="d-flex align-items-center">
      <h6 class="text-uppercase font-weight-bold primary-color mb-0">
        danh sách ao nuôi
      </h6>
    </div>
    <div class="mx-0 ml-auto d-flex">
      <div class="ml-auto d-flex flex-wrap w-100">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex form-inline pl-0 pr-0">
          <div class="form-group align-items-start mr-3 py-1">
            <div class="align-items-center mr-3 label pt-1">
              <label class="mb-0">Loại ao nuôi</label>
            </div>
            <div>
              <nz-select [(ngModel)]="filterModel.locationType" name="locationType" nzShowSearch nzAllowClear nzPlaceHolder="-Tất cả (All)-" (ngModelChange)="filterFarmingLocationList()">
                <nz-option *ngFor="let item of farminglocationTypeData" [nzLabel]="item.value" [nzValue]="item.code">
                </nz-option>
              </nz-select>
            </div>
          </div>
          <div class="search-area mx-1" nz-tooltip [nzTooltipTitle]="'Tìm theo mã, tên vị trí, khu vực, mô tả'">
            <nz-input-group class="search" nzSearch [nzAddOnAfter]="suffixButton">
              <input type="text" nz-input [placeholder]="
                  'Tìm theo mã, tên vị trí, khu vực, mô tả, loại vị trí'
                " (keyup)="searchTerm$.next($event.target.value)" [value]="searchTerm$.value" />
            </nz-input-group>
            <ng-template #suffixButton>
              <button nz-button nzType="primary" nzSearch>
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </div>
          <button nz-button nzType="primary" type="submit"
            class="text-uppercase d-flex align-items-center justify-content-center" (click)="createOrUpdateLocation()">
            Tạo mới
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="h-100 w-100 table-content pt-3">
    <nz-table #basicTable nzShowSizeChanger [nzData]="farmingLocationListData.items" [nzFrontPagination]="false"
      [nzLoading]="false" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changPageSize($event)" [nzScroll]="{ x: '1100px' }">
      <thead>
        <tr>
          <th class="text-center table-col-stt">STT</th>
          <th class="table-col-code">
            <P class="mb-0">Mã vị trí</P>
          </th>
          <th class="table-col-name">
            <P class="mb-0">Tên vị trí</P>
          </th>
          <th class="table-col-type">
            <P class="mb-0">Loại vị trí</P>
          </th>
          <th class="table-col-area">
            <P class="mb-0">Khu vực</P>
          </th>
          <th class="table-col-acreage">
            <P class="mb-0">Diện tích (m<span class="superscript">&#178;</span>)</P>
          </th>
          <th class="table-col-desc">
            <P class="mb-0">Mô tả</P>
          </th>
          <th class="table-col-status text-center">
            <P class="mb-0">Trạng thái</P>
          </th>
          <th class="table-col-doc">
            <P class="mb-0">Tài liệu đính kèm</P>
          </th>
          <th class="table-col-manipulation text-center">
            <P class="mb-0">Thao tác</P>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data; let i = index">
          <td class="text-center table-col-stt">{{i + this.pageSize * (this.pageIndex - 1) + 1}}</td>
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td>{{item.type.value}}</td>
          <td>{{item.area.name}}</td>
          <td class="text-right">{{item.landArea}}</td>
          <td>
            <div class="d-flex justify-content-between align-items-center">
              {{truncateChar(item.description)}}
              <i class="fa fa-info-circle pointer" [class.visibility-hidden]="!item.description" aria-hidden="true" (click)="showDesc(item.description)"></i>
            </div>
          </td>
          <td class="d-flex justify-content-center">
            <div [class.status-active]="item?.status?.code === 'Alive'" [class.status-delete]="item?.status?.code === 'Delete'">
              {{item.status.value}}
            </div>
            </td>
          <td><a class="hyperlink pointer text-underline" href="{{item.attachment}}">
              {{truncateChar(item.attachment)}}</a></td>
          <td>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa fa-pencil-square-o fa-icon-edit pointer mr-3" aria-hidden="true" nz-tooltip nzTooltipTitle="Sửa" (click)="createOrUpdateLocation(item)">
              </i>
              <i [class.visibility-hidden]="item.hasShrimpCrop === false" class="fa fa-trash-o fa-icon-delete pointer"
                aria-hidden="true" nz-tooltip nzTooltipTitle="Xóa" (click)="delete(item)"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
