.search-area {
  min-width: 18rem;
}

.table-content {
  .table-col {
    &-stt {
      width: 3rem;
      border-left: 1px solid #eaeaea;
    }
    &-code {
      width: 6rem;
    }
    &-name {
      width: 12rem;
    }
    &-type {
      width: 8rem;
    }
    &-area {
      width: 10rem;
    }
    &-acreage {
      width: 7rem;
    }
    &-desc {
      width: 10rem;
    }
    &-status {
      width: 10rem;
    }
    &-doc {
      width: 10rem;
    }
    &-manipulation {
      width: 5rem;
    }
  }
  .status-active {
    width: 8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #578a10;
    color: #fff;
  }
  .status-delete {
    width: 8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #838383;
    color: white;
  }
}
::ng-deep {
  nz-select {
    min-width: 160px;
  }
}

.bg-content{
  background: #fff;
  padding: 24px;
}
