<div class="popup-container">
  <div class="content container h-50 w-300 p-0">
    <div class="d-flex justify-content-center popup-title pl-0 mb-3">
      Thay đổi mật khẩu
    </div>
    <div class="nz-row" nzType="flex" nzJustify="center" nzAlign="center">
      <div class="nz-col px-2 pb-2" nzSpan="12" *ngIf="formChangePassword">
        <form class="popup-form" [formGroup]="formChangePassword" (ngSubmit)="onSubmit()">
          <div class="w-100">
            <div class="row align-items-center mb-3">
              <div class="col-4 align-items-center pl-0">
                <p class="mb-0 required">Mật khẩu hiện tại:</p>
              </div>
              <div class="col-8">
                <input type="password" [class.is-invalid]="formErrors?.password" nz-input placeholder="Text"
                  formControlName="password" placeholder="" />
                <div class="invalid-feedback">
                  {{ formErrors?.password }}
                </div>
              </div>
            </div>
            <div class="row align-items-center mb-3">
              <div class="col-4 align-items-center pl-0">
                <p class="mb-0 required">Mật khẩu mới:</p>
              </div>
              <div class="col-8">
                <input type="password" [class.is-invalid]="formErrors?.newPassword" nz-input formControlName="newPassword"
                  placeholder="" />
                <div class="invalid-feedback">
                  {{ formErrors?.newPassword }}
                </div>
              </div>
            </div>
            <div class="row align-items-center mb-3">
              <div class="col-4 align-items-center pl-0">
                <p class="mb-0 required">Nhập lại mật khẩu:</p>
              </div>
              <div class="col-8">
                <input type="password" [class.is-invalid]="formErrors?.confirmPassword" nz-input formControlName="confirmPassword"
                  placeholder="" />
                <div class="invalid-feedback">
                  {{ formErrors?.confirmPassword }}
                </div>
                <div class="invalid-feedback">
                  {{ formErrors?.mustMatch }}
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-md-center pt-3">
            <button nz-button type="submit" nzType="primary" class="text-uppercase  mr-1">
              Đồng ý
            </button>
            <button nz-button type="button" nzType="default" class="text-uppercase ml-1" (click)="closePopup()">
              Không
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
